*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
}
header{
    position: absolute;
    top: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}
.container{
    max-width: 1500px;
    width: 100%;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-lists{
    display: flex;
    flex-direction: row;
    list-style: none;
    grid-gap: 64px;
}
.nav-list a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
header span{
    font-size: 28.43px;
    font-weight: 600;
    color: white;
}
.help-button{
    background-color: #31BBFF;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    
}






.section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    background-image: url(images/tiger-bg.png);
    background-size: cover;
    height: 900px;
}

.main-portion{
    width: 595px;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 67.34px;
    font-weight: 600;
    margin-bottom: 38px;
}
.section-1 p{
    font-size: 16px;
    margin-bottom: 56px;
}
input{
    margin-bottom: 45px;
}
.buttons{
    display: flex;
    flex-direction: row;
}
#button{
    background-color:#31BBFF ;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 28px;
    font-size: 16px;
    font-weight: 600;
}
#link{
    text-decoration: none;
    color: #31BBFF;
    font-size: 16px;
    font-weight: 600;
}
.call-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #31BBFF;
}
.call{
    height: 1.1rem;
    margin-right: 5px;
}
.call path{
    fill: #31BBFF;
}








.section-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-2 .container{
    display: flex;
    flex-direction: column;
}
.conservation-para{
    display:grid;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 1rem;
    margin-top: 136px;
}
.conservation-para h2{
    font-size: 37.9px;
    font-weight: 600;
}
.conservation-para p{
    font-size: 16px;
    font-weight: 400;
}
.conservation-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 27px;
    list-style:none;
    margin-top: 88px;
}
.conservation{
    position: relative;
}
.conservation h3{
    position: absolute;
    bottom: 21px;
    left: 24px;

    font-size: 28.43px;
    color: white;
    font-weight: 6000;
}
.conservation img{
    width: 100%;
}







footer{
    background-color: #032700;
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding-top: 139px;
    height: 550px;
    margin-top: 240px;
}
footer .container{
    display: flex;
    flex-direction: column;
}

.bottom-name{
    font-size: 28.43px;
    font-weight: 600;
    margin-bottom: 34px;
}
.para-and-social-medias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid gray;

    padding-bottom: 3rem;
    margin-bottom: 3rem;
}
.social-medias{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-self: flex-end;
}
.devoloper{
    font-size: 12px;
}